BACKEND_URL='http://loalhost:9000'
MEDUSA_API_KEY='pk_your_medusa_api_key'
MEDUSA_ADMIN_TOKEN='your_medusa_admin_token'
DEFAULT_REGION_ID='reg_region_id'

USDT_URL='https://url_for_usdt.com'
USDT_API_KEY='your_usdt_api_key'
USDT_IPN='your_usdt_ipn'

BTC_URL='https://url_for_btc_payment_server.com'
BTC_STORE_ID='your_btc_store_id'
BTC_STORE_API='your_btc_store_api'

LEVELS_URL='http://url_for_level.com:8080'
LEVELS_API_KEY='key-your_levels_api_key'
