[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.0.6"
asgiref = "==3.8.1"
certifi = "==2024.7.4"
charset-normalizer = "==3.3.2"
idna = "==3.7"
pypng = "==0.20220715.0"
python-dotenv = "==1.0.1"
qrcode = "==7.4.2"
requests = "==2.32.3"
sqlparse = "==0.5.1"
tk = "==0.1.0"
typing-extensions = "==4.12.2"
urllib3 = "==2.2.2"
whitenoise = "==6.7.0"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
