{% extends "layout/base.html" %}
{% load custom_filters %}

{% block title %}
Shopping Cart
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Shopping Cart</h1>

    <!-- Error message display -->
    {% if error_message %}
    <div class="alert alert-danger" role="alert">
        {{ error_message }}
    </div>
    {% endif %}

    {% if cart.items %}
    <ul class="list-group mb-4">
        {% for item in cart.items %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="media">
                <img src="{{ item.thumbnail|cache_image }}" class="mr-3" alt="{{ item.title }}" style="width:50px;height:50px;">
                <div class="media-body">
                    <h5 class="mt-0">{{ item.title }}</h5>
                    <p>{{ item.variant.title }}</br>
                    {{ item.quantity }} x {{ item.unit_price|cents_to_dollars|floatformat:2 }} {{ site_settings.currency_code|upper }} =
                        {{ item.quantity|multiply:item.unit_price|cents_to_dollars|floatformat:2 }} {{ site_settings.currency_code|upper }}</p>
                    <ul class="list-inline">
                        {% for price in item.variant.prices %}
                        <li class="list-inline-item">{{ price.currency_code|upper }}:
                            {{ price.amount|cents_to_dollars|floatformat:2 }}
                        </li>
                        {% endfor %}
                    </ul>
                    <form action="{% url 'update_cart_item' item.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <div class="form-group mb-2">
                            <label for="quantity-{{ item.id }}" class="sr-only">Quantity</label>
                            <input type="number" class="form-control" id="quantity-{{ item.id }}" name="quantity"
                                   value="{{ item.quantity }}" min="1">
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm">Update item</button>
                    </form>
                </div>
            </div>
            <form action="{% url 'remove_from_cart' item.id %}" method="post" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">Remove</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    <div class="d-flex justify-content-between align-items-center">
        <ul class="list-unstyled">
            <li><h4><strong>Subtotal:</strong> {{ cart.subtotal|cents_to_dollars|floatformat:2 }} {{ site_settings.currency_code|upper }}</h4></li>
            <li><h4><strong>Discount:</strong> {{ cart.discount_total|cents_to_dollars|floatformat:2 }} {{ site_settings.currency_code|upper }}</h4></li>
            <li><h4><strong>Total:</strong> {{ cart.total|cents_to_dollars|floatformat:2 }} {{ site_settings.currency_code|upper }}</h4></li>
        </ul>
        
        
        <form action="" method="post" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary mb-2">Update All Quantities</button>
        </form>
    </div>
    <form action="{% url 'add_coupon_code' %}" method="post" class="d-inline">
        {% csrf_token %}
        <div class="form-group mb-2">
            <input type="text" name="coupon_code" placeholder="Enter coupon code" class="form-control"/>
            <button type="submit" class="btn btn-primary btn-sm">Add Coupon</button>
        </div>
    </form>
    <div class="mt-4">
        <a href="{% url 'checkout' %}" class="btn btn-primary btn-lg btn-block">Proceed to Checkout</a>
    </div>
    {% else %}
    <div class="alert alert-info" role="alert">
        Your cart is empty.
    </div>
    {% endif %}
</div>
{% endblock %}
