{% extends "layout/base.html" %}
{% load custom_filters %}

{% block title %}
Checkout
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Checkout</h1>
    <form action="{% url 'checkout' %}" method="post">
        {% csrf_token %}
        <div class="form-row">
            {% if not request.session.auth_token %}
            <div class="form-group col-md-6">
                <label for="username">Email/Telegram</label>
                <input type="text" class="form-control" id="username" name="username" value="{{ request.session.customer_data.email | strip_tg }}" required>
            </div>
            <div class="form-group col-md-6">
            </div>
            {% endif %}
            <div class="form-group col-md-6">
                <label for="first_name">First Name</label>
                <input type="text" class="form-control" id="first_name" name="first_name" value="" required>
            </div>
            <div class="form-group col-md-6">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" id="last_name" name="last_name" value=""required>
            </div>
        </div>
        <div class="form-group">
            <label for="address_1">Address Line 1</label>
            <input type="text" class="form-control" id="address_1" name="address_1" required>
        </div>
        <div class="form-group">
            <label for="address_2">Address Line 2</label>
            <input type="text" class="form-control" id="address_2" name="address_2">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" name="city" required>
            </div>
            <div class="form-group col-md-4">
                <label for="state">State</label>
                <select class="form-control" id="state" name="state" required>
                    <option value="">Select a state</option>
                    <option value="NSW">New South Wales</option>
                    <option value="VIC">Victoria</option>
                    <option value="QLD">Queensland</option>
                    <option value="WA">Western Australia</option>
                    <option value="SA">South Australia</option>
                    <option value="TAS">Tasmania</option>
                    <option value="ACT">Australian Capital Territory</option>
                    <option value="NT">Northern Territory</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="postal_code">Postal Code</label>
                <input type="text" class="form-control" id="postal_code" name="postal_code" required>
            </div>
        </div>
        <!-- <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="text" class="form-control" id="phone" name="phone" >
        </div> -->
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
