{% extends "layout/base.html" %}
{% load custom_filters %}

{% block title %}Order{% endblock %}

{% block content %}
            <div class="breadcrumbs">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <p class="bread"><span><a href="{% url "index" %}">Home</a></span><span>Orders</span></p>
                        </div>
                    </div>
                </div>
            </div>
    
    
            <div class="page-content">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-wrap">
                                <!-- <div class="container mt-4"> -->
                                    <h1>Your Orders</h1>

                                    {% if orders %}
                                    <table class="table table-bordered">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th class="text-wrap">Order #</th>
                                            <th class="text-wrap">Date</th>
                                            <th class="text-wrap">Items</th>
                                            <th class="text-wrap">Shipping Charges</th>
                                            <th class="text-wrap">Total</th>
                                            
                                            <th class="text-wrap">Fulfillment Status</th>
                                            <th class="text-wrap">Payment Status</th>
                                            <th class="text-wrap">Status</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for order in orders %}
                                        <tr>
                                            <td>{{ order.display_id }}</td>
                                            <td class="text-nowrap">{{ order.created_at|slice:"0:10" }}</td>
                                            <td class="text-wrap">
                                                <ul class="list-unstyled">
                                                    {% for item in order.items %}
                                                    <li>
                                                        
                                                        {{ item.title }} - {{ item.description }} - {{ item.quantity }} x
                                                        {{ item.unit_price|cents_to_dollars|floatformat:2 }} {{ order.currency_code }}
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                            <td class="text-nowrap">{{ order.shipping_total|cents_to_dollars|floatformat:2 }} {{ order.currency_code }}
                                            </td>
                                            <td class="text-nowrap">{{ order.total|cents_to_dollars|floatformat:2 }} {{ order.currency_code }}</td>
                                            
                                            <td>{{ order.fulfillment_status }}</td>
                                            <td>{{ order.payment_status }}</td>
                                            <td>{{ order.status }}</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                    <nav aria-label="Page navigation" class="mt-4">
                                        <ul class="pagination justify-content-center">
                                            {% if orders.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page=1" aria-label="First">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ orders.previous_page_number }}" aria-label="Previous">
                                                    <span aria-hidden="true">&lsaquo;</span>
                                                </a>
                                            </li>
                                            {% endif %}

                                            {% for i in orders.paginator.page_range %}
                                            {% if orders.number == i %}
                                            <li class="page-item active">
                                                <span class="page-link">
                                                  {{ i }}
                                                  <span class="sr-only">(current)</span>
                                                </span>
                                            </li>
                                            {% elif i > orders.number|add:'-5' and i < orders.number|add:'5' %}
                                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                            {% endif %}
                                            {% endfor %}

                                            {% if orders.has_next %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ orders.next_page_number }}" aria-label="Next">
                                                    <span aria-hidden="true">&rsaquo;</span>
                                                </a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ orders.paginator.num_pages }}" aria-label="Last">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                    {% else %}
                                    <p>You have no orders.</p>
                                    {% endif %}
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>


{% endblock %}
