<!-- templates/select_payment_session.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Select Payment Session</title>
</head>
<body>
            <div class="breadcrumbs">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <p class="bread"><span><a href="{% url "index" %}">Home</a></span><span>Payment</span></p>
                        </div>
                    </div>
                </div>
            </div>
    
    
            <div class="page-content">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-wrap">
                                <h1>Select Payment Session</h1>
                                <form method="post">
                                    {% csrf_token %}
                                    <select name="provider_id">
                                        {% for provider in payment_providers %}
                                        <option value="{{ provider.id }}">{{ provider.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <button type="submit">Select</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</body>
</html>
