<!-- templates/show_usdt_address.html -->
{% extends "layout/base.html" %}
{% load custom_filters %}

{% block title %}
USDT Payment Address
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <div class="card text-center">
                <div class="card-header">
                    <h1 class="card-title">Scan the QR Code to Pay with USDT (TRON)</h1>
                </div>
                <div class="card-body">
                    <img src="data:image/png;base64,{{ qr_code }}" alt="USDT Address QR Code" class="img-fluid mb-3">
                    <p class="card-text">USDT Address: {{ usdt_address }}</p>
                    <p class="card-text">Amount: ${{ amount | format_float}} USDT</p>
                    <div>
                        <a href="{% url 'show_usdt_address' %}?paid" class="btn btn-primary">I have paid this!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
