<!-- templates/show_xmr_address.html -->
{% extends "layout/base.html" %}
{% load custom_filters %}

{% block title %}
XMR Payment Address
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <div class="card text-center">
                <div class="card-header">
                    <h1 class="card-title">Scan the QR Code to Pay with XMR</h1>
                </div>
                <div class="card-body">
                    <img src="data:image/png;base64,{{ qr_code }}" alt="XMR Address QR Code" class="img-fluid mb-3">
                    <h4 class="card-text">XMR Address: <strong>{{ xmr_address }}</strong></h4>
                    <h4 class="card-text">Amount: <strong>{{ amount }} XMR</strong></h4>
                    <div>
                        <a href="{% url 'show_xmr_address' %}?paid" class="btn btn-primary">I have paid this!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
