<!-- templates/select_payment_method.html -->
{% extends "layout/base.html" %}
{% load custom_filters %}

{% block title %}
Select Payment Method
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h1 class="card-title">Select Payment Method</h1>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="btc" name="payment_method" value="btc">
                            <label class="form-check-label" for="btc">Bitcoin (BTC)</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="usdt" name="payment_method" value="usdt">
                            <label class="form-check-label" for="usdt">Tether (USDT TRC20)</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="xmr" name="payment_method" value="xmr">
                            <label class="form-check-label" for="xmr">Monero (XMR)</label>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Proceed</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
