<!-- templates/show_usdt_address.html -->
{% extends "layout/base.html" %}
{% load custom_filters %}

{% block title %}
BTC Payment Address
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <div class="card text-center">
                <div class="card-header">
                    <h1 class="card-title">Scan the QR Code to Pay with BTC</h1>
                </div>
                <div class="card-body">
                    <img src="data:image/png;base64,{{ qr_code }}" alt="BTC Address QR Code" class="img-fluid mb-3">
                    <p class="card-text">BTC Address: {{ btc_address }}</p>
                    <p class="card-text">Amount: {{ amount }} BTC</p>
                    <div class="alert alert-warning" role="alert">
                        Please do not refresh the page. You will lose your QR code, and it is impossible to recover it
                        again.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
