<!-- templates/catalog/product_detail.html -->
{% extends "layout/base.html" %}
{% load custom_filters %}

{% block title %}
{{ product.title }}
{% endblock %}

{% block content %}
<h1>{{ product.title }}</h1>
<div class="row">
    <div class="col-md-4">
      <img src="{{ product.thumbnail|cache_image }}" class="card-img-top" alt="{{ product.title }}">
      
    </div>
    <div class="col-md-6">
        <h2>{{ product.title }}</h2>
      <p>{{ product.description }}</p>
      
    </div>
</div>

<div style="margin-left:20px;margin-top:20px">
    <h4>Variants</h4>
    {% for variant in product.variants %}
        <hr>
        <p><strong>Title:</strong> {{ variant.title }}</p>
        <p><strong>SKU:</strong> {{ variant.sku }}</p>
        <p><strong>Inventory Quantity:</strong> {{ variant.inventory_quantity }}</p>
        <p><strong>Prices:</strong>
            <ul>
                {% for price in variant.prices %}
                    <li>{{ price.currency_code | upper }}: {{ price.amount|cents_to_dollars|floatformat:2 }}</li>
                {% endfor %}
            </ul>
        </p>
        <form action="{% url 'add_to_cart' variant.id 1 %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Add to Cart</button>
        </form>
    {% empty %}
        <p>No variants available for this product.</p>
    {% endfor %}
</div>
{% endblock %}

{% block sidebar %}
  {{ block.super }}

  {% if perms.catalog.change_product or perms.catalog.delete_product %}
  <hr>
  <ul class="sidebar-nav">
    {% if perms.catalog.change_product %}
      <li><a href="{% url 'product-update' product.id %}">Update Product</a></li>
    {% endif %}
    {% if not product.variants and perms.catalog.delete_product %}
      <li><a href="{% url 'product-delete' product.id %}">Delete Product</a></li>
    {% endif %}
  </ul>
  {% endif %}
{% endblock %}
