{% extends "layout/base.html" %}

{% block content %}
<h1>Title: {{ product.title }}</h1>

<p><strong>Subtitle:</strong> {{ product.subtitle }}</p>
<p><strong>Description:</strong> {{ product.description }}</p>
<p><strong>Status:</strong> {{ product.status }}</p>
<p><strong>Gift Card:</strong> {{ product.is_giftcard }}</p>
<p><strong>Discountable:</strong> {{ product.discountable }}</p>
<p><strong>Profile ID:</strong> {{ product.profile_id }}</p>
<p><strong>Weight:</strong> {{ product.weight }}</p>
<p><strong>Dimensions (LxWxH):</strong> {{ product.length }} x {{ product.width }} x {{ product.height }}</p>
<p><strong>HS Code:</strong> {{ product.hs_code }}</p>
<p><strong>Origin Country:</strong> {{ product.origin_country }}</p>
<p><strong>MID Code:</strong> {{ product.mid_code }}</p>
<p><strong>Material:</strong> {{ product.material }}</p>
<p><strong>Collection:</strong> {{ product.collection.title }}</p>
<p><strong>Created At:</strong> {{ product.created_at }}</p>
<p><strong>Updated At:</strong> {{ product.updated_at }}</p>
<p><strong>Deleted At:</strong> {{ product.deleted_at }}</p>
<p><strong>Metadata:</strong>
    <ul>
        {% for key, value in product.metadata.items %}
            <li><strong>{{ key }}:</strong> {{ value }}</li>
        {% endfor %}
    </ul>
</p>

<div style="margin-left:20px;margin-top:20px">
    <h4>Variants</h4>
    {% for variant in product.variants %}
        <hr>
        <p><strong>Title:</strong> {{ variant.title }}</p>
        <p><strong>SKU:</strong> {{ variant.sku }}</p>
        <p><strong>Inventory Quantity:</strong> {{ variant.inventory_quantity }}</p>
        <p><strong>Price:</strong>
            <ul>
                {% for price in variant.prices %}
                    <li>{{ price.currency_code | upper }}: {{ price.amount | floatformat:2 }}</li>
                {% endfor %}
            </ul>
        </p>
        <form action="{% url 'add_to_cart' variant_id=variant.id qty=1 %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Add to Cart</button>
        </form>
    {% empty %}
        <p>No variants available for this product.</p>
    {% endfor %}
</div>
{% endblock %}

{% block sidebar %}
  {{ block.super }}

  {% if perms.catalog.change_product or perms.catalog.delete_product %}
  <hr>
  <ul class="sidebar-nav">
    {% if perms.catalog.change_product %}
      <li><a href="{% url 'product-update' product.id %}">Update Product</a></li>
    {% endif %}
    {% if not product.variants and perms.catalog.delete_product %}
      <li><a href="{% url 'product-delete' product.id %}">Delete Product</a></li>
    {% endif %}
  </ul>
  {% endif %}

{% endblock %}
