{% extends "layout/base.html" %}
{% block title %}
Error
{% endblock %}

{% block content %}
            <div class="breadcrumbs">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <p class="bread"><span><a href="{% url "index" %}">Home</a></span><span>Error</span></p>
                        </div>
                    </div>
                </div>
            </div>
    
    
            <div class="page-content">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-wrap">
                                <h1>Oops! Something went wrong.</h1>
                                <p>We’re sorry, but there was an error on the website. Please try again later.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        
{% endblock %}