{% extends "base_generic.html" %}

{% block content %}
<div class="breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <p class="bread"><span><a href="{% url "index" %}">Home</a></span><span>Logout</span></p>
                    </div>
                </div>
            </div>
        </div>


        <div class="page-content">
            <div class="container">
                <div class="row row-pb-lg">
                    <div class="col-sm-12">
                        <div class="page-wrap">
                            <p>Logged out!</p>  

                            <a href="{% url 'login'%}">Click here to login again.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}