{% extends "base_generic.html" %}

{% block content %}

        <div class="breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <p class="bread"><span><a href="{% url "index" %}">Home</a></span><span>Password Reset</span></p>
                    </div>
                </div>
            </div>
        </div>


        <div class="page-content">
            <div class="container">
                <div class="row row-pb-lg">
                    <div class="col-sm-12">
                        <div class="page-wrap">
                            <form action="" method="post">{% csrf_token %}
                                {% if form.email.errors %}{{ form.email.errors }}{% endif %}
                                    <p>{{ form.email }}</p> 
                                <input type="submit" class='btn btn-default btn-lg' value="Reset password">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>  

{% endblock %}